@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:300,300i,400,400i,500,500i,700,700i");
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Montserrat", "Noto Sans", "Open Sans", sans-serif, system-ui;
  color: #292A2B;
}

a {
  color: #16C6B5;
  text-decoration: none;
}

a:hover {
  color: #30A195;
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

.container,
.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 1199px) {
  #main {
    margin-left: 0;
  }

  .container,
  .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Noto Sans", sans-serif;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #12CFBD;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #F6F8FA;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #078283;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #0FC7B5;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #078283;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #12CFBD;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .progress {
  margin-bottom: 1.5rem;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 0;
  margin-bottom: auto;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Noto Sans", sans-serif;
  color: #050d18;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Noto Sans", sans-serif;
  color: #078283;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050F18;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1F9696;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Noto Sans", sans-serif;
  color: #050E18;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #E3F5F9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1F9396;
}

/*--------------------------------------------------------------
# Projects
--------------------------------------------------------------*/
.projects .icon-box {
  margin-bottom: 40px;
}

.projects .icon-hero {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 240px;
}

.projects .icon-horizontal {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 158px;
}

.projects .icon-small {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
}

.projects .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: #16C6B5;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #16C6B5;
}

.projects .icon i {
  color: #fff;
  font-size: 24px;
  line-height: 0;
}

.projects .icon-box:hover .icon {
  background: #fff;
}

.projects .icon-box:hover .icon i {
  color: #16C6B5;
}

.projects .title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 4px;
  font-size: 18px;
}

.projects .title a {
  color: #343a40;
}

.projects .title a:hover {
  color: #14C9B8;
}

.projects .related {
  margin-bottom: 12px;
  color: #999DB0;
}

.projects .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

.projects h4 {
  font-size: 22px;
  font-weight: 600;
  font-family: "Noto Sans", sans-serif;
  color: #078283;
}
